.node {
    cursor: pointer;
}
.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}
.node text {
    font: 10px sans-serif;
}
.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

.panel-body{
	font-size:12px;
}

.panel-body ul{
	padding-left: 10px;
}

svg{
	margin-top:1px;
	border:1px solid red;
}

body {
    overflow: hidden;
    padding-top: 50px;
    font-family: 'Roboto', sans-serif;
}

textarea {
    resize: none;
}

/*navbar styles */
.navbar{
	min-width:30px;
	background-color:#1E88E5;
	color:#fff;
	border: none;
}
.navbar h1{
	font-size:18px;
}

.navbar i{
	vertical-align:top;
}